body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Diseño de columnas */

.columna-1 {
    width: 100%;
    float: left;
    background-color: blue;
}

.columna-2 {
    width: 50%;
    float: left;
    background-color: cadetblue;
}

.columna-3 {
    width: 33.33%;
    float: left;
    background-color: darkblue;
}

.columna-4 {
    width: 50%;
    float: left;
    background-color: darkcyan;
}

@media only screen and (max-width: 600px) {
    /*reglas*/
    .columna-3 {
        width: 100%;
    }
    .columna-4 {
        width: 50%;
    }
    #diez {
        width: 100%;
    }
}